.task-label{
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 37px;
    position: relative;
    cursor: pointer;

}

.label1{

    background-color: rgb(154, 173, 189);
}

.label2{
    
    background-color: rgb(0, 134, 192);
}

.label3{
    
    background-color: rgb(157, 153, 185);
}

.defult-label-color{

    background-color:rgb(196, 196, 196);
}