
.task-label{
    height: 100%;
    text-align: center;
    display: flex;
    color:#fff ;
    justify-content: center;
    align-items: center;

    &:active{
        border: 1px solid blue;
    }
}