
.task-person{
    cursor: pointer;
    display: flex;
    height: 100%;
    align-items: center;

    .person-bullet-container{
        width: 100%;
        text-align: center;
        line-height: 0.5rem;

        .person-bullet-default{
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: #f5f6f8 2px solid;
          
        }
    }
    

    .icon-dapulse-addbtn:before {
        position: absolute;
        content: "\f128";
        top: 25%;
        font-size: 14px;
        color: #0073ea;
        font-family: "dapulse";
        margin-left: 0.5rem;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        opacity: 0;
    }
    &:hover{
        .icon-dapulse-addbtn:before{
            opacity: 1;
        }
    }

    .bullets-container{
        margin: auto;
        display: flex;

        .person-bullet{
            width: 30px;
            height: 30px;
            position: relative;
            display: flex;
            margin: 0 -5px;
           
            img{
                border-radius: 50%;
                border: #f5f6f8 2px solid;
            }
        
        }
    }
}

.status-picker-view{
    height: 284.5px;
    border-radius: 8px;
    width: 360px;
}

