
.task-status{
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 37px;
    position: relative;
    cursor: pointer;

    .add-status-note{
        transition: border-width .3s ease;
        border-width: 0 18px 18px 0;
        position: absolute;
        top: 0;
        right: 1px;
        border-style: solid;
        display: none;
    }
}

.stuck{
    background-color: rgb(226, 68, 92);
}

.working-on-it{
    background-color: rgb(253, 171, 61);
}

.done{
    background-color: rgb(0, 200, 117);
}

.defult{
    background-color:rgb(196, 196, 196);
}





