//MIXINS
@mixin fixed-col-style {
    background-color:inherit;
    opacity: 0.96;
    position: sticky;
    left: 0px;
    z-index: 15;
}

@mixin col-span-style {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


@mixin color-border($clr) {
    border-inline-start: 6px solid $clr;
}