.application-layers .first-level {
    position: absolute;
    background-color: $--primary-background-color;
    color: $--primary-text-color;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    left: 66px;
    display: flex;
    -webkit-transition: left 150ms cubic-bezier(0, 0, 0.35, 1);
    -o-transition: left 150ms cubic-bezier(0, 0, 0.35, 1);
    transition: left 150ms cubic-bezier(0, 0, 0.35, 1);
    overflow: hidden;
}




.first-level-control-component {
    animation-name: slideInFromLeft;
    animation-duration: .1s;
    animation-timing-function: cubic-bezier(0, 0, 0.35, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    display: flex;
    height: 100%;
    position: absolute;
    border-right: 1px solid;
    border-color: $--layout-border-color;
    z-index: 1000001;
    width: 30px;
    transition: width .1s cubic-bezier(0, 0, 0.35, 1);
    color: $--primary-text-color;
    background-color: $--dark-background-color;

    .first-level-control-content {
        height: 100%;
        width: 100%;
        opacity: 0;
        overflow: hidden;
        transition: opacity 100ms ease;
    }

    &.is-expanded {
        width: 255px;

        .first-level-control-content {
            opacity: 1;
            display: flex;
            flex-direction: column;
        }
    }


}


.home-control-component {
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    overflow-x: hidden;
}



.home-workspace-items-title-component {
    width: 100%;
}

.workspace-dropdown-button {
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 4px;
    margin-right: 4px;
    border: 1px solid;
    border-color: $--icon-color;
}

.menu-button-container {
    width: 100%;
}


.dropdown-navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 4px;
}


.home-control-top-header-component {
    font-size: 14px;
    font-weight: 400;
    color: $--placeholder-on-secondary-color;

    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 12px 16px 18px 16px;
    // height: 68px;
}


.workspace-title .workspace-name-wrapper {
    flex-grow: 1;
    height: auto;
    overflow: hidden;
    max-width: 135px;
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
    height: auto;
    overflow: hidden;
    max-width: 135px;
    font-size: 16px;
    font-weight: 600;
}










.home-workspace-items-title-component .home-workspace-items-content-sub-header-wrapper {
    padding: 0 16px 16px 14px;
}




.top-new-button-component .menu-button--wrapper {
    justify-content: start;
    padding-left: 6px;
}


.menu-button--wrapper--text {
    width: 100%;

}


.menu-button--wrapper {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: rgba(0, 0, 0, 0);
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 50ms cubic-bezier(0, 0, 0.35, 1);
}


.boards-list-header-component.leftpane-workspace-header-redesign .unified-boards-search-input-wrapper {
    margin: 0;
    font-size: 14px;
    color: $--primary-text-color;
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 34px;
    padding: 0 6px;
    font-weight: 400;
    padding-right: 3px;
}

.search-input-wrapper .boards-list-bolt-switch {
    display: flex;
    visibility: hidden;
    align-items: center;
    z-index: 2;
    padding: 2px;
    border-radius: 4px;
    transition: right .2s ease;
    cursor: pointer;
    justify-content: center;
    margin-left: 8px;
}



.boards-list-header-component.leftpane-workspace-header-redesign .unified-boards-search-input-wrapper {
    margin: 0;
    font-size: 14px;
    color: $--primary-text-color;
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 34px;
    padding: 0 6px;
    font-weight: 400;
    padding-right: 3px;
}


.home-workspace-items-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    border-bottom: 1px solid #e1e1e1;
    border-bottom: none;
    flex-shrink: 1;
    flex-grow: 1;
    min-height: 0;
}

.home-workspace-items-component .title-wrapper {
    z-index: 1;
    box-shadow: 0px 12px 13px -7px $--dark-background-color;
}


.home-workspace-items-component .home-workspace-items-content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow: hidden;
    position: relative;
}



.home-workspace-items-title-component .spacer {
    border-bottom: 1px solid;
    border-color: $--layout-border-color;
    margin: 0 20px;
}


.home-control-base-item-component-wrapper .home-control-base-item-component.selected {
    color: $--primary-text-color;
    background-color: $--primary-selected-color;
    position: relative;
}


.home-control-base-item-component-wrapper .home-control-base-item-component .item-name-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.home-control-base-item-component-wrapper .home-control-base-item-component .item-name-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.home-control-base-item-component-wrapper .home-control-base-item-component .item-name-wrapper .item-name {
    height: auto;
    border: 0;
    padding: 0;
    min-width: 0;
    width: auto;
    flex: 1;
    margin-left: 6px;
}

.home-control-base-item-component-wrapper .home-control-base-item-component .item-name-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
}


.home-control-base-item-component-wrapper .home-control-base-item-component {
    font-size: 14px;
    height: 100%;
    width: calc(100% - 8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary-text-color);
    cursor: pointer;
    position: relative;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid transparent;
}


svg {
    fill: currentcolor;
    width: 26;
    height: 26;
}




.first-level-content-wrapper.first-level-control {
    &.-unpinned {
        margin-left: 30px;
    }

    &.-pinned {
        margin-left: 255px;
    }

}















.collapse-first-leve-button-component.is-pinned {
    right: -14px;
}

.collapse-first-leve-button-component {
    border: 1px solid;
    border-color: $--layout-border-color;
    border-radius: 20px;
    background-color: $--primary-background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 3px 9px;
    position: absolute;
    top: 20px;
    z-index: 100;
    transition: background-color 100ms ease, padding-left 100ms ease, padding-right 100ms ease, border-color 100ms ease, color 100ms ease;
    animation-name: slideInFromLeft;
    animation-duration: .15s;
    animation-timing-function: cubic-bezier(0, 0, 0.35, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
}
















.collapse-first-leve-button-component.is-pinned .collapse-icon {
    transform: rotate(-180deg);
}

.collapse-first-leve-button-component .collapse-icon {
    font-size: 18px;
    transition: transform 100ms ease;
}

.fa-angle-right:before {
    content: ">";
}