.user-select{
    position: relative;
    &-menu{
        position: absolute;
        width: 350px;
        height: 270px;
        background-color:white;
        box-shadow: 0 4px 17px 6px rgb(0 0 0 / 10%);
        z-index: 500;
        left: -245px;
        border-radius: 8px;
    }
}